@import url('https://fonts.googleapis.com/css?family=Raleway');
* {
  /*background-color: #F5F5F5;*/
  
}


html, body {
  overflow: scroll;
  padding: 1em;
  height: 100%;
  position: relative;
  font-family: 'Raleway', sans-serif;
}

p {
  font-style: none;
}

.App {
  text-align: center;
  
}

.App-header {
  /*height: 150px;*/
  /*padding: 20px;*/
  color: black;

  margin-bottom: 1.5em;
  text-align: center;
 

}

.App-title {
  font-size: 1.5em;
  animation: appear 3s ease 0s 1 normal;
  width: 80%;
  
}

.App-intro {
  font-size: large;
  margin-bottom: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.appear-appear {
  opacity: 0.01;
}

.appear-appear.appear-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.appear-enter {
  opacity: 0.01;
}

.appear-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}


.arrow {
  /*z-index: 1101;*/
  background-color: lightgray;
  opacity: 2%;
}


input {
  font-size: large;
}

.container {
   background-color: #009688;
   width: 85%;
   height: 100%;
   border-radius: 0.8em;
   margin: auto;
   padding-top: 16px;
}

.left-arrow {
   width: 100%;
   height: 680px;
   border-radius: 0.8em;
   margin: 0;
}

.right-arrow {
   width: 100%;
   height: 680px;
   border-radius: 0.8em;
   margin: 0;
}

.msg {
   width: 100%;
   font-size: 72px;
   border-radius: 0.8em;
   margin: 0;
   text-align: center;
   color: white;
   padding: 16px;
   height: 10%;

}

.main {
  height: 90%;
}

.talk {
   width: 100%;
   height: 100%;
   border-radius: 0.8em;
   margin: 0;
}

.watson {
  background-color: #F5F5F5;
  border-radius: 0.8em;
  width: 100%;
  margin: auto;
  font-size: 56px;
  padding: 24px;
  min-height: 500px;
  box-sizing: border-box;
  margin-top: 12px;
}

.user {
  background-color: #F5F5F5;
  border-radius: 1em;
  width: 100%;
  margin: auto;
  padding: 24px;
  min-height: 100px;
  margin-top: 24px;
}