html, body {
  padding: 1em;
  height: 100%;
  position: relative;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: black;
  margin-bottom: 1.5em;
}

.App-title {
  font-size: 1.5em;
  animation: appear 3s ease 0s 1 normal;
}

.App-intro {
  font-size: large;
  margin-bottom: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.appear-appear {
  opacity: 0.01;
}

.appear-appear.appear-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.appear-enter {
  opacity: 0.01;
}

.appear-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.user {
    position: absolute;
    bottom: 150px;
}